<script type="text/javascript">
    //Stuff to run on every page


    //Highlights the current page in the navbar
    let pageLinks = document.querySelectorAll("#navbar a");

    pageLinks.forEach(link =>{
        if(document.title.includes(link.id)) //TODO: maybe move into its own file
            link.classList.add("selected");
    });
    
</script>
</body>
<footer>
    Kristian Marshall | <a href="mailto:Kristian.Marshall2@student.sl.on.ca">Kristian.Marshall2@student.sl.on.ca</a>
</footer>
</html>