<html>
<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Default' %>
    </title>
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
</head>
<body>
    <div id="header">
        <div id="navbar">
            <h1>Envelope Budget</h1>
            <a id="Dashboard" href="/">Dashboard</a>
            <a id="Transactions" href="/Transactions">Transactions</a>
            <a id="Category Transfers" href="/CategoryTransfers">Category Transfers</a>
        </div>
    </div> 
    
