<html>
<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Default' %>
    </title>
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
</head>
<body>
    <div id="navbar">
        <h1>Envelope Budget</h1>
        <a href="/">Dashboard</a>
        <a href="/Transactions">Transactions</a>
        <a href="/CategoryTransfers">Category Transfers</a>
    </div>
    
