<html>
<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Default' %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
    <script type="text/javascript" src="/main.js"></script>
</head>
<body>
    <div id="header">
        <div id="navbar">
            <h1>Envelope Budget</h1>
            <a id="Dashboard" href="/">Dashboard</a>
            <a id="Transactions" href="/Transactions">Transactions</a>
            <a id="Category Transfers" href="/CategoryTransfers">Category Transfers</a>
        </div>
    </div> 
    
