<html>
<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Default' %>
    </title>
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
</head>
<body>
    <h1>Envelop Budget</h1>
    <a href="/">Home</a>
    
