<%- include('./partials/header', { title: "Category Transfers - EB" }); %>

<h2>Category Transfers</h2>

<table>
    <tr> <!-- TODO: change to thead and tbody -->
        <th>Still Loading</th>
    </tr>
</table>


<script type="text/javascript">
    let table = document.querySelector("table"); //TODO: add buttons to edit or add a transfer

    fetch("./categoryTransfersJson")
    .then(response => response.json())
    .then(data => {
        let headings = Object.keys(data[0]);
        let tableHTML = "";
        
        tableHTML += "<tr>\n";
        for(let i = 0; i < headings.length; i++) {
            tableHTML += `<th>${headings[i]}</th>\n`;
        }
        tableHTML += "</tr>\n";

        for(let i = 0; i < data.length; i++) {
            tableHTML += "<tr>\n";
            for(let j = 0; j < headings.length; j++) {
                rowData = data[i][headings[j]];

                if(typeof rowData == "number")
                    rowData = rowData.toLocaleString(undefined, { style: 'currency', currency: 'USD' });
                    
                tableHTML += `<td>${rowData}</td>\n`;
            }
            tableHTML += "</tr>\n";
        }
        table.innerHTML = tableHTML; //every call to innerHTML on table adds a <tbody> around it
    });
</script>

<%- include('./partials/footer'); %>