<%- include('./partials/header', { title: "Dashboard - EB" }); %>
    <div class="page">
    <div id="leftbar">
        <h3>Account Balances</h3>
        <div id="AB"></div>
    </div>
    <div id="content">
        <table class="table table-hover table-striped table-dark">
            <tr> <!-- TODO: change to thead and tbody -->
              <th>Loading...</th>
            </tr>
          </table>
    </div>
    </div>

    <script type="text/javascript" src="/dashboard.js"></script>
<%- include('./partials/footer'); %>

