<%- include('./partials/header', { title: "Settings · EB" }); %>

        <main class="col-md-9 ms-sm-auto col-lg-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-3">
                <h1 class="h2">Settings</h1>
                
            </div>
            
        </main>
    </div>
</div>
<script src="main.js"></script>
<script src="settings.js"></script>

<%- include('./partials/footer'); %>