<%- include('./partials/header', { title: "Settings · EB" }); %>

        <main class="col-md-9 ms-sm-auto col-lg-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-3">
                <h1 class="h2">Settings</h1>
                
            </div>
            <form class="row g-4">
                <div class="col-auto">
                    <label class="align-middle fs-5" for="budgetDatabase">Budget Database: </label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="budgetDatabase" placeholder="BudgetTest">
                </div>
                <div class="col-auto">
                  <button type="button" id="budgetButton" class="btn btn-outline-secondary mb-3">Change Database</button>
                </div>
                <div class="col-auto" id="liveAlertPlaceholder"></div>
              </form>

        </main>
    </div>
</div>
<script src="main.js"></script>
<script src="settings.js"></script>

<%- include('./partials/footer'); %>