<%- include('./partials/header', { title: "Transactions - EB" }); %>

<h2>Transactions</h2>

<input type="button" value="Add Row" onclick="transactionTable.addRow()">
<input type="button" value="Submit All" onclick="submitAll()">
<table>
    <thead>
        <tr>
            <th>Still Loading</th> 
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script type="text/javascript" src="/transactions.js"></script>

<%- include('./partials/footer'); %>