<%- include('./partials/header', { title: "Transactions - EB" }); %>
<div class="page">
    <div id="leftbar">
        <h3>Account Balances</h3>
        <div id="AB"></div>
    </div>
    <div id="content">
        <input type="button" value="Add Row" id="addRow" class="btn btn-dark">
        <input type="button" value="Submit All" id="submitAll" class="btn btn-dark">
        <table id="transactionsTable" class="table table-hover table-striped table-dark">
            <thead>
                <tr>
                    <th>Still Loading</th> 
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="/transactions.js"></script>

<%- include('./partials/footer'); %>