body{
    background-color: #282828;
    color: white;
}

table {
    margin-top: 1em;
}

/* table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #8c8c8c;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4d4d4d;
} */

footer{
    margin-top: 3em;
}

#header #navbar{
    background-color: #222;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-height: 3em;
    min-width: 200px;
}

#navbar {
    display:flex; 
	flex-direction:row;
    max-width: 90%;
    height: 4%;
    overflow: hidden;
    white-space: nowrap;
  }

#navbar a{
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: .6em;
    vertical-align: middle;
    flex:1; 
}
#navbar h1{
    background-color: #5c5c5c;
    margin: 0em;
    padding: .3em;
    font-size:x-large;
    text-decoration: none;
    flex:1; 
}

#navbar a:hover {
    background-color: rgb(145, 145, 145);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.page{
    display: flex;
    height: 88%;
}

#leftbar {
    min-width: 10em;
    max-width: 10em;
    background:#333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: .5em;
}
#content {
    width:60%;
    margin: 2em;
    flex: 1 0 auto;
}

.selected {
    background-color: rgb(145, 145, 145);
}

/* the date and amount on transaction table */
#transactionsTable td:nth-child(1), #transactionsTable td:nth-child(2), #transactionsTable td:nth-child(2) input, #catTransTable td:nth-child(2) input, #catTransTable td:nth-child(2),#catTransTable td:nth-child(1) {
    text-align: right;
}

#transactionsTable td:nth-child(1), #catTransTable td:nth-child(1){ /*date*/
    width:8em;
}
#transactionsTable td:nth-child(2), #catTransTable td:nth-child(2){ /*Amount*/
    width:6em;
}
#transactionsTable td:nth-child(n+3):nth-child(-n+5), #catTransTable td:nth-child(n+3):nth-child(-n+4){ /*Category Account Vendor*/
    width:10em;
}
#transactionsTable td:nth-child(6), #catTransTable td:nth-child(5){ /*Memo*/
    width:12em;
}
/* #transactionsTable td:nth-child(7){ Actions
    width:8em;
} */